{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<h2> {{team.name}}</h2>
<ul id="menu">
    <li>{{team.school}}</li>
    <li>Head Coach {{team.head_coach}}
</ul>
<table>
    {% for athlete in team.athletes.all %}
    <tr><td>{{ athlete.name }}</td>
            <td>{{ athlete.position }}</td>
            <td>{{ athlete.height }}</td>
            <td>{{ athlete.year}}</td>
            <td>{{athlete.hometown}}</td>
            <td><img src="{{athlete.photo.url}}"/></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
# ToDO make athletes in a table
