{% load static from staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <title>{%block title %} College Swim {% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <h2><a href="{% url "swimming_home" %}"> Triangle College Swim </a></h2>
            {% block content %}
            {% endblock %}
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block extra-js %}
{% endblock %}
    </body>
</html>
