{% load static from staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet"type="text/css"  href="{% static 'css/main.css' %}"/>
        <title>{%block title %} College Swim {% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <h2><a href="{% url "swimming_home" %}"> Triangle College Swim </a></h2>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
